#board {
  header, section {
    display: flex;
    justify-content: center;
  }
  
  .wrapper {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
  }
  
  .header-box {
    width: 128px;
    height: 74px;
    text-align: center;
    border-radius: 6px;
    margin: 8px;
    display: flex;
    flex-direction: column;
  
    h2 {
      margin: auto;
      color: #fff;
    
      &.title {
        color: #eee4db;
      }
    }
  }
  
  .game-title {
    flex-grow: 2;
    height: 132px;
    font-size: 32px;
    background-color: #edc53f;
  }
  
  .score {
    background-color: #bbad9f;
  }
}

.m-0 {
  margin: 0;
}

#gameOver {
  position: absolute;
  background-color: rgba(0,0,0,.4);
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;

  &.show {
    opacity: 1;
    transition: all ease 2s;
  }

  section {
    margin: auto;
    flex-direction: column;
    border-radius: 18px;
    flex: 1;
    text-align: center;

    .box {
      color: red;
      font-size: 44px;
    }

    .score {
      font-weight: bold;
      color: #fff;
    }

    .buttons-box {
      margin-top: 18px;
    }
  }
}

button {
  border: none;
}

.btn {
  background: #edc53e;
  background-image: linear-gradient(to bottom, #edc43e, #dbb537);
  box-shadow: 0px 0px 11px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

  img {
    width: 22px;
    vertical-align: middle;
  }
}

.btn:hover {
  background: #edc53e;
  background-image: linear-gradient(to bottom, #edc53e, #edc53e);
  text-decoration: none;
}
